<html>
<head>
  <title>Poppyland Raincloud</title>
  <link href="{{ url_for('static', path='style.css') }}" rel="stylesheet">
</head>
<body>
  <div id="header">
    <img src="{{ url_for('static', path='poppy_logo.png') }}" />
    <h1>Poppyland Raincloud</h1>
  </div>
  <div id="tile-container">
    <div id="status">
      <h2>Raincloud Status<h2>
      <p style="color: {{ "blue" if valve_state.is_open else "green"}}">{{ "OPEN" if valve_state.is_open else "closed"}}</p>
    </div>
    <div id="controls">
      <button onclick="location.href='/api/valves/open'" type="button" class="control-button"><h3>OPEN</h3></button>
      <button onclick="location.href='/api/valves/close'" type="button" class="control-button" style="background-color: green;"><h3>CLOSE</h3></button>
    </div>
  </div>
 </body>
</html>
